img{
     -webkit-tap-highlight-color: transparent;
    /* Evita el menú desplegable (Guardar como...) en iOS/Android */
    -webkit-touch-callout: none;
    
    /* Evita que la imagen sea seleccionable */
    -webkit-user-select: none;
    user-select: none;
    
    /* Evita que la imagen se pueda arrastrar (Ghost image) */
    -webkit-user-drag: none;
}